Basic Python Syntax and Operations

Level 1

Write a program to add two numbers entered by the user

In [1]:
def add(num1,num2):
    return num1+num2

#example
add(234,333)

567

Calculate the sum of all integers from 1 to a user-specified number.

In [2]:
def sumAll(num):
    lst = []
    for i in range(1,num+1):
        lst.append(i)
    return sum(lst)
               
#example
sumAll(5)

15

In [3]:
def sumAll2(num):
    return num*(num + 1)/2

#example
sumAll(5)

15

In [4]:
def sum_all(num):
    return sum(range(num+1))

# Example
sum_all(50)

1275

Find the area of a circle given the radius (user input).

In [5]:
from math import pi
def area_circle(rad):
    return pi*rad**2

#example
area_circle(7)

153.93804002589985

Print all even numbers between 1 and 100.

In [6]:
even=[]
for el in range(1,100):
    if el%2==0:
        even.append(el)
print(even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [7]:
even_100 = [i for i in range(0,100,2)]
print(even_100)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

Given two numbers, return their maximum.

In [8]:
def MAX(num1, num2):
    if num1 > num2:
        return num1
    else:
        return num2

#example
MAX(345,334)

345

Level 2

Write a function to check if a given year is a leap year.

In [9]:
def leap_year(year):
    if year%100 == 0:
        if year%400 == 0:
            return 'Leap year'
    else:
        if year%4 ==0:
            return 'Leap year'
    return 'Not Leap year'

# Example
leap_year(2024)

'Leap year'

In [10]:
def isLeap_year(year):
    if year%100 == 0:
        return year%400 == 0
    else:
        return year%4 == 0

# Example
isLeap_year(2000)

True

In [11]:
def isLeap(yr):
    if yr%100==0:
        yr = yr/100
    return yr%4 == 0

# Example
isLeap(2024)

True

Create a function to calculate the nth Fibonacci number.

In [12]:
def Fibonacci(n):
    lst=[0,1]
    i=0
    while i < n:
        lst.append(lst[-1]+lst[-2])
        i+=1
    return lst[n-1]

# Example
Fibonacci(12)

89

In [13]:
# Using recussive
def Fibonacci_number(n):
    if n == 1:
        return 0
    elif n == 2:
        return 1
    return Fibonacci_number(n-1)+Fibonacci_number(n-2)

# Example
Fibonacci_number(12)

89

Implement a basic calculator that performs addition, subtraction, multiplication, and division based on user input.

In [14]:
def calculator(a,b):
    res = print('The sum, difference, product and quotient of ', a, 'and', b, 'are', a+b, ',', a-b, ',', a*b, 'and', a/b, 'respectively')
    return res

#example
calculator(3,2)

The sum, difference, product and quotient of  3 and 2 are 5 , 1 , 6 and 1.5 respectively

Generate a multiplication table for a number provided by the user.

In [15]:
def mulTable(num):
    for i in range(1,13):
        print(num, 'x', i, '=', num*i)

#example
mulTable(14)

14 x 1 = 14
14 x 2 = 28
14 x 3 = 42
14 x 4 = 56
14 x 5 = 70
14 x 6 = 84
14 x 7 = 98
14 x 8 = 112
14 x 9 = 126
14 x 10 = 140
14 x 11 = 154
14 x 12 = 168

In [16]:
# using the format function
def Table2(num):
    for i in range(1,13):
        res = '{} x {} = {}'.format(num, i, num*i)
        print(res)

Table2(12)

12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120
12 x 11 = 132
12 x 12 = 144

In [17]:
#Template strings from the string module

from string import Template
def Table3(num):
    res = Template('$num x $i = $prod')
    for i in range(1,13):
        print(res.substitute(num = num, i = i, prod=num*i))

Table3(18)

18 x 1 = 18
18 x 2 = 36
18 x 3 = 54
18 x 4 = 72
18 x 5 = 90
18 x 6 = 108
18 x 7 = 126
18 x 8 = 144
18 x 9 = 162
18 x 10 = 180
18 x 11 = 198
18 x 12 = 216

Write a program to reverse a given integer.

In [18]:
def reverse(num):
    num1 = str(num)
    return int(num1[::-1])

#example
reverse(1234)

4321

Level 3

Create a function to calculate the factorial of a number using recursion.

In [19]:
def factorial(num):
    res = 1
    if num == 0:
        return res
    elif num == int(num) and num >= 1: 
        for el in range(1,num+1):
            res*=el
        return res

#example
factorial(5)

120

In [20]:
# By recursion
def factorial_n(num):
    if num < 0:
        return 'Wrong imput'
    elif num <= 1:
        return 1
    return num*factorial_n(num-1)

# Example
factorial_n(5)

120

Implement a function that checks whether a string is a palindrome.

In [21]:
def palindrome(var):
    var1 = var[::-1]
    return var == var1

# Example
palindrome('apple')

False

In [22]:
# Example
palindrome('madam')

True

Write a program to find the sum of all multiples of 3 and 5 below a user-specified number.

In [23]:
def sum_of_multiple(num):
    lst3=[]
    lst5=[]
    for i in range(1,num+1):
        if i%3 == 0:
            lst3.append(i)
        if i%5 == 0:
            lst5.append(i)
    return sum(lst3)+sum(lst5)

#example
sum_of_multiple(45)

585

In [24]:
def sum_of_multiple2(num):
    lst3 = [i for i in range(num+1) if i%3 == 0]
    lst5 = [i for i in range(num+1) if i%5 == 0]
    return sum(lst3)+sum(lst5)

#example
sum_of_multiple2(45)

585

Create a function to find the greatest common divisor (GCD) of two numbers.

In [25]:
#Using for loop
def gcd(num1,num2):
    lst=[1]
    for i in range(2,num1+1):
        if num1%i ==0 and num2%i ==0:
            lst.append(i)
    return max(lst)

# Example
gcd(108,18)

18

In [26]:
# Using while loop
def GCD(a, b):
    factor, i = 1, 1
    while i <= min(a,b):
        if a%i == 0 and b%i == 0:
            factor=i
        i+=1
    return factor

# Example
GCD(108,18)

18

Implement a number guessing game where the computer selects a random number between 1 and 100, and the user has to guess it.

In [27]:
import random

e = random.randrange(1,100)
count = 1
while True:
    guess = input("Enter your guess: ")
    if e == int(guess):
        print(f"It takes you {count} trial(s) to get it right.")
        break
    else:
        count+=1

Enter your guess:  23
Enter your guess:  12
Enter your guess:  11
Enter your guess:  34
Enter your guess:  45
Enter your guess:  43
Enter your guess:  56
Enter your guess:  23
Enter your guess:  89
Enter your guess:  92
Enter your guess:  91
Enter your guess:  34
Enter your guess:  3
Enter your guess:  4
Enter your guess:  5
Enter your guess:  6
Enter your guess:  7
Enter your guess:  8
Enter your guess:  9
Enter your guess:  15
Enter your guess:  19
Enter your guess:  17
Enter your guess:  34
Enter your guess:  36
Enter your guess:  38
Enter your guess:  39
Enter your guess:  40
Enter your guess:  42
Enter your guess:  63
Enter your guess:  67
Enter your guess:  69
Enter your guess:  83
Enter your guess:  84
Enter your guess:  86
Enter your guess:  19
Enter your guess:  25
Enter your guess:  28
Enter your guess:  33
Enter your guess:  34
Enter your guess:  35
Enter your guess:  36
Enter your guess:  37
Enter your guess:  38
Enter your guess:  51
Enter your guess:  52
Enter your guess:  52
Enter your guess:  54
Enter your guess:  57
Enter your guess:  21
Enter your guess:  22
Enter your guess:  29
Enter your guess:  92
Enter your guess:  39
Enter your guess:  93
Enter your guess:  75
Enter your guess:  74
Enter your guess:  71
Enter your guess:  53
Enter your guess:  1
Enter your guess:  85
Enter your guess:  81
Enter your guess:  80
Enter your guess:  75
Enter your guess:  76
Enter your guess:  77
Enter your guess:  78
Enter your guess:  63
Enter your guess:  64
Enter your guess:  65
Enter your guess:  66
Enter your guess:  44
Enter your guess:  45
Enter your guess:  46
Enter your guess:  47

It takes you 74 trial(s) to get it right.